<% if @items %>
  <% @items.each do |i|%>
    <p><%= i %></p>
  <% end %>
<% end %>

<form action='/checkout' method='post'>
  <input type='text' name='item'>
  <input type='submit' id='submit'>
</form>
